@import "variables";

.container {
  padding: 3rem;
  display: grid;
  place-items: center;
}

.logo-container {
  display: grid;
  place-items: center;
}

.logo {
  margin: 0 auto;
  width: 25rem;
}

.help-text {
  margin-top: .5rem;
  font-size: 1.8rem;
  text-align: center;
}

.qr-code {
  display: grid;
  place-items: center;
  padding: 3rem;
  border: .3rem dotted $color-grey-dark;
  border-radius: 3rem;
}
