@import "variables";

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-grey-light-1;
  height: 20vh;
  max-height: 20vh;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  color: green;
}
