@import "variables";

.timer {
  display: block;
  margin-top: 3rem;
  background-color: $color-grey-light-1;
  height: 20vh;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  color: green;
}
