.score {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}

.score h3 {
  font-size: inherit;
  margin-bottom: 1.5rem;
}

.container {
  padding: 3rem;
}
